services:
  redis:
    image: redis:7-alpine
    platform: linux/arm64
    container_name: redis
    volumes:
      - redis_data:/data
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "60", "1"]

volumes:
  redis_data:
